<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="flex flex-row justify-between items-center bg-[#cacaca] px-8 py-4">
            <h1 class="text-2xl">HOTEL LEGAU</h1>

            <div class="flex flex-row gap-4">
                <button class="px-4 py-2 bg-[#cacaca] rounded-sm">Log in</button>
                <button class="px-4 py-2 bg-[#cacaca] rounded-sm">Sign up</button>
            </div>
        </div>
    </header>

    <main>
        <div class="flex flex-col gap-8 px-8 py-12 bg-[#eaeaea]">
            <h2 class="text-4xl">Atualizar</h2>

            <form data-form class="grid grid-cols-3 gap-x-20 gap-y-8">

                <input class="bg-[#fafafa] border rounded-sm border-[#bababa] w-80 px-2 py-2 justify-self-center" type="text" name="nome" placeholder="Nome">
                <input class="bg-[#fafafa] border rounded-sm border-[#bababa] w-80 px-2 py-2 justify-self-center" type="text" name="cpf" placeholder="CPF">
                <input class="bg-[#fafafa] border rounded-sm border-[#bababa] w-80 px-2 py-2 justify-self-center" type="email" name="email" placeholder="Email">
                <input class="bg-[#fafafa] border rounded-sm border-[#bababa] w-80 px-2 py-2 justify-self-center" type="tel" name="telefone" placeholder="Telefone">
                <input class="bg-[#fafafa] border rounded-sm border-[#bababa] w-80 px-2 py-2 justify-self-center" type="date" name="dataNascimento" placeholder="Data de nascimento">
                <input class="bg-[#fafafa] border rounded-sm border-[#bababa] w-80 px-2 py-2 justify-self-center" type="text" name="endereco" placeholder="Endereço">

                <button class="col-2 bg-[#fafafa] rounded-sm border border-[#bababa]" type="submit">Atualizar</button>
            </form>
        </div>
    </main>

    <script type="module" src="../../js/pages/cliente/scriptAtualizar.js"></script>

</body>

</html>